@charset "UTF-8";

body {
    background-color: #bfe4ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hert {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 365px;
}

.inner {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.ytMovie {
    max-width: 630px;
}

li {
    padding: 5px;
    list-style: none;
}

.doplay {
    display: flex;
    justify-content: center;
    gap: 30px;
}